
        <!DOCTYPE web-app PUBLIC
                "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.wyy.server.UserServer.HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.wyy.server.UserServer.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.wyy.server.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Queryuser</servlet-name>
        <servlet-class>com.wyy.server.UserServer.QueryUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Regist</servlet-name>
        <servlet-class>com.wyy.server.UserServer.Regist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deluser</servlet-name>
        <servlet-class>com.wyy.server.UserServer.Deluser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Createteam</servlet-name>
        <servlet-class>com.wyy.server.TeamServer.Createteam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatamsg</servlet-name>
        <servlet-class>com.wyy.server.UserServer.Updatamsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatenewTeam</servlet-name>
        <servlet-class>com.wyy.server.TeamServer.CreatenewTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changelv</servlet-name>
        <servlet-class>com.wyy.server.UserServer.Changelv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryTeam</servlet-name>
        <servlet-class>com.wyy.server.TeamServer.QueryTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryTeamPalyer</servlet-name>
        <servlet-class>com.wyy.server.TeamServer.QueryTeamplayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delteam</servlet-name>
        <servlet-class>com.wyy.server.TeamServer.Delteam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitTeam</servlet-name>
        <servlet-class>com.wyy.server.UserServer.ExitTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinTeam</servlet-name>
        <servlet-class>com.wyy.server.UserServer.JoinTeam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryField</servlet-name>
        <servlet-class>com.wyy.server.FieldSever.QueryField</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryteamNoti</servlet-name>
        <servlet-class>com.wyy.server.NotificationSever.QueryteamNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatenewNoti</servlet-name>
        <servlet-class>com.wyy.server.NotificationSever.CreatenewNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatahead</servlet-name>
        <servlet-class>com.wyy.server.UserServer.Upheadimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryteamNotiNum</servlet-name>
        <servlet-class>com.wyy.server.NotificationSever.QueryteamNotiNum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>com.wyy.server.UserServer.SearchUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UploadTeamimg</servlet-name>
        <servlet-class>com.wyy.server.TeamServer.UploadTeamimg</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Changeusermsg</servlet-name>
        <servlet-class>com.wyy.server.UserServer.Changeusermsg</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/A</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Queryuser</servlet-name>
        <url-pattern>/queryuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Regist</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deluser</servlet-name>
        <url-pattern>/deluser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Createteam</servlet-name>
        <url-pattern>/createteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatamsg</servlet-name>
        <url-pattern>/updatamsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changelv</servlet-name>
        <url-pattern>/changelv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryTeam</servlet-name>
        <url-pattern>/queryteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryTeamPalyer</servlet-name>
        <url-pattern>/queryteamplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delteam</servlet-name>
        <url-pattern>/delteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitTeam</servlet-name>
        <url-pattern>/exitteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinTeam</servlet-name>
        <url-pattern>/jointeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryField</servlet-name>
        <url-pattern>/queryfield</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryteamNoti</servlet-name>
        <url-pattern>/queryteamnoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatenewNoti</servlet-name>
        <url-pattern>/createnewnoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatahead</servlet-name>
        <url-pattern>/updatahead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryteamNotiNum</servlet-name>
        <url-pattern>/qtnm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/searchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatenewTeam</servlet-name>
        <url-pattern>/createnteam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadTeamimg</servlet-name>
        <url-pattern>/updatateamhead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changeusermsg</servlet-name>
        <url-pattern>/cusermsg</url-pattern>
    </servlet-mapping>
</web-app>
